@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-rose-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-rose-400;
}

body {
  background-color: #052f9c;
}

/* 消息动画 */
.message-enter {
  opacity: 0;
  transform: translateY(20px);
}
.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}
